# Homework 3 - Databases and SQL
In this guide, we will be connecting to the sqlite database created from the lecture, fill it with values, then run a few queries. You will be using the data files from the previous homework.

### Instructions
1. Follow the instructions on how to setup your Python and Jupyter (or VSCode) environment and cloning or downloading our repository. Instructions can be found in the class notes.
2. Fill the missing pieces of code in the provided notebook.
3. Answer the questions in the notebook through code.
4. Run the notebook and make sure everything works.


### Dataset Overview
We will use two datasets for this assignment. The first one is the same as used in HW1, which consists of four text files, each containing a story. Files are in the `Datasets` directory of this repository. The stories are:

- `story-1.txt`: The Monkey and the Crocodile
- `story-2.txt`: The Musical Donkey
- `story-3.txt`: A Tale of Three Fish
- `story-4.txt`: The Foolish Lion and the Clever Rabbit

The second dataset covers information about soccer players in sqlite format. This file is located in the `Datasets` directory of this repository. The file is called `fifa_soccer_dataset.sqlite.gz`.

**IMPORTANT** The database is compressed and needs to be decompressed before use. You can do this by running the following command in your terminal on Linux or MacOS:

```bash
gunzip Datasets/fifa_soccer_dataset.sqlite.gz
```

If you are using Windows, you can use the following command in your powershell:

```powershell
$sourceFile = "$PWD\Datasets\fifa_soccer_dataset.sqlite.gz"
$destinationFile = "$PWD\Datasets\fifa_soccer_dataset.sqlite"

$inputStream = [System.IO.File]::OpenRead($sourceFile)
$outputStream = [System.IO.File]::Create($destinationFile)
$gzipStream = New-Object System.IO.Compression.GzipStream($inputStream, [System.IO.Compression.CompressionMode]::Decompress)
$gzipStream.CopyTo($outputStream)

$gzipStream.Close()
$outputStream.Close()
$inputStream.Close()
```

Alternatively, you can extract the file using the GUI of your operating system.


### Submission Guidelines

- Submit your completed notebook as a HTML export, or a PDF file.

To export to HTML, if you are on Jupyter, select `File` > `Export Notebook As` > `HTML`.

If you are on VSCode, you can use the `Jupyter: Export to HTML` command.
 - Open the command palette (Ctrl+Shift+P or Cmd+Shift+P on Mac).
     - Search for `Jupyter: Export to HTML`.
     - Save the HTML file to your computer and submit it via Canvas.

---

### Decompress fifa dataset

```bash
$ gzip -d -c fifa_soccer_dataset.sqlite.gz > ../Database/fifa_soccer_dataset.sqlite
```

### Part 1 Story Analysis
First, we need to import the correct library to use sqlite functions. Can you figure out which library are we going to use?

In [1]:
import sqlite3 #Input needed Library here
import os

# Local directory
print(os.getcwd())

c:\Ricardo\2025-02 SP25 USABLE ARTIFICIAL INTELLIGENCE\GitHub\usable_ai\Homework

Now we have our functions ready to go, let's get the current path and connect to our database. For `dbPath` variable, create a db with name `mydb.sqlite`.

In [2]:
data_path = '../Datasets' # Path to the datasets folder
dbpath = '../Database/sqlite_hw4.db' # Select a path to save the database file
conn = sqlite3.connect(dbpath)

Now connected, we can create our cursor variable using the `cursor()` function.

In [3]:
# Using https://docs.python.org/3/library/sqlite3.html#sqlite3-tutorial

cur = conn.cursor()

Using `cur`, we want to add in our new tables. However, if we add them multiple times, we will receive an error. So, we first need to `DROP` the tables if they exist already.<br>Enter your `DROP` queries below as an argument to the `execute` methods. Do this twice, once for the `stories` table and one for the `word_counts` table.

In [ ]:
drop_stories_query  = "DROP TABLE stories" # Input DROP query for stories table here
drop_info_query = "DROP TABLE information" # Input DROP query for information table here

#Now we run both queries
cur.execute(drop_stories_query)
cur.execute(drop_info_query)

# Removing word_counts
drop_word_counts_query = "DROP TABLE word_counts" # Input DROP query for word_counts table here
cur.execute(drop_word_counts_query)

# List all tables in the database
cur.execute("SELECT name FROM sqlite_master")
tables = cur.fetchall()

display(tables)

We now have a clean slate set up to create our new tables! Now, design the queries to create new tables for `stories` and `word_counts`. <br>
The `stories` table only needs a primary key `story_id` that is an integer and a text field called `story` to store the corrosoponding story text.
<br>
The `word_counts` table will need a little more. Please include the following:
- `word_id`: primary key, integer
- `word`: text
- `count`: integer
- `story_id`: integer, foreign key to `stories` table

In [4]:
# Defining story_id, info_id, word_id as primary keys

create_stories_query = "CREATE TABLE \
                            stories (story_id INTEGER PRIMARY KEY, \
                                    story TEXT)" # Insert CREATE TABLE query for stories table here

create_info_query =  "CREATE TABLE \
                            information (info_id INTEGER PRIMARY KEY, \
                                        details TEXT)" # Insert CREATE TABLE query for information table here

cur.execute(create_stories_query)
cur.execute(create_info_query)
conn.commit()

create_word_counts_query = "CREATE TABLE \
                word_counts (word_id INTEGER PRIMARY KEY, \
                            word TEXT, \
                            count INTEGER, \
                            story_id INTEGER NOT NULL, \
                            FOREIGN KEY (story_id) REFERENCES stories(story_id) ON DELETE CASCADE)" # CREATE TABLE word_counts

cur.execute(create_word_counts_query)
conn.commit()

In [5]:
# Check structure of tables created 

# List all tables in the database
cur.execute("SELECT name FROM sqlite_master")
tables = cur.fetchall()

display(tables)

[('stories',), ('information',), ('word_counts',)]

In [6]:
# Show the structure of each table

for table in tables:
    print(f"\nStructure of table: {table[0]}")
    cur.execute(f"PRAGMA table_info({table[0]});")
    columns = cur.fetchall()
    for column in columns:
        print(column)

Structure of table: stories
(0, 'story_id', 'INTEGER', 0, None, 1)
(1, 'story', 'TEXT', 0, None, 0)

Structure of table: information
(0, 'info_id', 'INTEGER', 0, None, 1)
(1, 'details', 'TEXT', 0, None, 0)

Structure of table: word_counts
(0, 'word_id', 'INTEGER', 0, None, 1)
(1, 'word', 'TEXT', 0, None, 0)
(2, 'count', 'INTEGER', 0, None, 0)
(3, 'story_id', 'INTEGER', 1, None, 0)

With our new empty tables ready, we can now loop through the stories and store the word counts.<br> Similar to how we looped through the stories in HW 1, we now have an additional step of inserting this data.<br>
In the cell below, please add the two queries for inserting these data rows. <br><br>
The first insert is for storing the story text in the `stories` table while reading from the file. The second insert is after counting up all the words, and is for inserting those values into the `word_counts` table. Remember to pass these query string variables into the `execute()` methods.

In [7]:
stories = ["story-1.txt", "story-2.txt","story-3.txt","story-4.txt"]
data_path = '..\Datasets' # Path to the datasets folder

print(data_path)
for story in stories:
    print(story)
    story_path = os.path.join(data_path, story)
    print(story_path)

..\Datasets
story-1.txt
..\Datasets\story-1.txt
story-2.txt
..\Datasets\story-2.txt
story-3.txt
..\Datasets\story-3.txt
story-4.txt
..\Datasets\story-4.txt

In [24]:
stories = ["story-1.txt", "story-2.txt","story-3.txt","story-4.txt"]  # Do not need / because os.path.join will do the magic

for story in stories:
    words = []
    count_of_each_word = {}
    story_id = ""
    i=0
    try:
        # Open the file
        story_path = os.path.join(data_path, story)
        with open(story_path,"r", encoding='utf-8') as fp:
            # reading data from file and splitting into words
            # and storing them in a list
            story_text = fp.read()
            
            # For the below query, you will need to use a '?' to
            #     represent where you want the story_text to be inputed.
            #     The actual text in story_text is passed in a tuple as 
            #     second parameter of the execute command().
            
            insert_story_query = "INSERT INTO stories (story) VALUES (?)" # Input INSERT query for the stories table here
            cur.execute(insert_story_query, (story_text,))
            
            #Grabbing the last id inserted, so we can use it when inserting values into the word_counts table
            story_id = cur.lastrowid
            conn.commit()
            words = story_text.split()
            
            # Close the file
            fp.close()
            
    except Exception as e:
        print("Unable to open the file: " + str(e))

    # Just like before, we are iterating over each word and using a dictonary to store the word counts
    for word in words:
        if(word in count_of_each_word):
            count_of_each_word[word] += 1
        else:
            count_of_each_word[word] = 1

    for key in count_of_each_word:
        insert_count_query = "INSERT INTO  word_counts (word, count, story_id) VALUES(?,?,?)" # Input query here, using '?' again in the VALUES () portion
        
        cur.execute(insert_count_query, (key, count_of_each_word[key], story_id))
        conn.commit()

In [ ]:
# Check table content

# Retrieve all records from the stories table
cur.execute("SELECT * FROM stories")
all_data_stories = cur.fetchall()

display(all_data_stories)

[(0,
  'The Monkey and the Crocodile:\n\nOnce upon a time, in a forest, there lived a monkey who resided on a jamoon (berry) tree, which was on the banks of a river. In the same forest, there lived a crocodile and his wife. One day, the crocodile came to the banks of the river and rested under the tree. The kindhearted monkey offered him some fruits. The crocodile came back the next day for more fruits, as he loved them. As days passed by, the crocodile and the monkey became good friends.\n\nOne day, the monkey sent some fruits for the crocodile’s wife. She ate the fruits and liked them, but was jealous, as she didn’t like her husband spending time with the monkey. She told her husband, “If the fruits are so juicy, I wonder how sweet the monkey’s heart would be. Get me the heart of the monkey.” The crocodile was not willing to kill his friend, but had no choice.\n\nHe invited the monkey to his house for dinner and that his wife would like to meet him. The monkey was happy, but couldn’t swim, so the crocodile took him on his back. The crocodile was happy that he had tricked the monkey, however, while talking, he blurted out the real reason for taking the monkey home. The clever monkey said, “You should have told me earlier, I left my heart on the tree. We must go back and get it.” The crocodile believed him and took him back to the tree. Thus, the clever monkey saved his life.\n'),
 (1,
  'The Monkey and the Crocodile:\n\nOnce upon a time, in a forest, there lived a monkey who resided on a jamoon (berry) tree, which was on the banks of a river. In the same forest, there lived a crocodile and his wife. One day, the crocodile came to the banks of the river and rested under the tree. The kindhearted monkey offered him some fruits. The crocodile came back the next day for more fruits, as he loved them. As days passed by, the crocodile and the monkey became good friends.\n\nOne day, the monkey sent some fruits for the crocodile’s wife. She ate the fruits and liked them, but was jealous, as she didn’t like her husband spending time with the monkey. She told her husband, “If the fruits are so juicy, I wonder how sweet the monkey’s heart would be. Get me the heart of the monkey.” The crocodile was not willing to kill his friend, but had no choice.\n\nHe invited the monkey to his house for dinner and that his wife would like to meet him. The monkey was happy, but couldn’t swim, so the crocodile took him on his back. The crocodile was happy that he had tricked the monkey, however, while talking, he blurted out the real reason for taking the monkey home. The clever monkey said, “You should have told me earlier, I left my heart on the tree. We must go back and get it.” The crocodile believed him and took him back to the tree. Thus, the clever monkey saved his life.\n'),
 (2,
  'The Musical Donkey\n\nA washer man’s donkey would be free to graze on the green field, after a hard day’s work. Instead of staying on the field, he would sneak into the villagers’ farms and eat the vegetables growing, before sneaking back home. The donkey met a jackal, and they became good friends. They decided to hunt together, and the fat donkey would break the fence to eat vegetables, while the jackal hunted the farm animals. One night, the donkey told the jackal that he felt like singing. The jackal pleaded with him not to sing, as they would get caught. However, the donkey got annoyed and insisted on singing. He opened his mouth and began to bray loudly, and the jackal immediately ran away. The farmers, on hearing the donkey bray, came rushing out and thrashed him for eating their vegetables. The farmers tied a mortar on the donkey, and as he walked home, the jackal joked about the farmers gifting the donkey a necklace for his singing.\n\nMoral of the Story: There is a time and place for everything.\n\nYou can narrate these Panchatantra stories to explain moral values to children. For example, Panchatantra stories on discipline, friendship, strength, intelligence and other virtues, can make children understand what these morals stand for, and their impact on their daily lives. These stories can also help in your child’s linguistic and cognitive development. To further develop your child’s qualities, get him a kid’s activity subscription kit that contains fun and interesting activities. By trying out these activities, your child can enhance his/her other skills as well.\n'),
 (3,
  'A Tale of Three Fish\n\nIn a lake, there were three fish who were great friends. The first fish was very smart, the second one knew how to find his way out of trouble, and the third was adamant and hated changes. The first fish overheard a fisherman’s conversation about coming back the next day and fishing in the lake. Sensing danger, he cautioned his friends to move out of the lake. The second fish said, “I will stay here and find a way out if I’m caught.” The third fish said, “I do not want to move out. I will remain here, and if I have to get caught, I will.” The first fish moved out. The next day, the fisherman arrived and caught the other two fish. The second one cleverly escaped by pretending to be dead. The third fish did nothing and got caught and died.\n\nMoral of the Story: One should always be open to change and adapt accordingly. Take immediate action when you sense danger.\n'),
 (4,
  'The Foolish Lion and the Clever Rabbit\n\nOnce upon a time, there lived a greedy lion who attacked and killed animals, because of which every animal in the jungle was very afraid of him. One day, they decided that each animal would go to the lion, per day, as his prey. The lion agreed. When it was the rabbit’s turn, they decided to send the wise old one. He travelled slowly and reached the lion’s den before sunset. The lion furiously asked him, “Why are you so late?” The rabbit answered, ”A group of rabbits were coming to you, but on their way, the others were attacked by another ferocious lion. I managed to escape and came here.” The rabbit also mentioned that the other lion was challenging this one.\n\nThe lion was extremely angry and asked the rabbit to take him to meet the new lion. The wise rabbit took the lion to a deep well, and showed him his own reflection. As the lion growled, his reflection did the same. He considered this reflection to be his enemy. The enraged lion jumped into the well to attack the other lion, and ended up dying. Thus, the wise old rabbit saved himself, and all the animals in the forest.\n\nMoral of the Story: One must always focus on solutions, rather than problems.\n')]

In [27]:
# Retrieve all records from the word_counts table
cur.execute("SELECT * FROM word_counts")
all_data_word_counts = cur.fetchall()

display(all_data_word_counts)

[(1, 'The', 8, 1),
 (2, 'Monkey', 1, 1),
 (3, 'and', 8, 1),
 (4, 'the', 26, 1),
 (5, 'Crocodile:', 1, 1),
 (6, 'Once', 1, 1),
 (7, 'upon', 1, 1),
 (8, 'a', 6, 1),
 (9, 'time,', 1, 1),
 (10, 'in', 1, 1),
 (11, 'forest,', 2, 1),
 (12, 'there', 2, 1),
 (13, 'lived', 2, 1),
 (14, 'monkey', 9, 1),
 (15, 'who', 1, 1),
 (16, 'resided', 1, 1),
 (17, 'on', 4, 1),
 (18, 'jamoon', 1, 1),
 (19, '(berry)', 1, 1),
 (20, 'tree,', 1, 1),
 (21, 'which', 1, 1),
 (22, 'was', 5, 1),
 (23, 'banks', 2, 1),
 (24, 'of', 3, 1),
 (25, 'river.', 1, 1),
 (26, 'In', 1, 1),
 (27, 'same', 1, 1),
 (28, 'crocodile', 8, 1),
 (29, 'his', 6, 1),
 (30, 'wife.', 2, 1),
 (31, 'One', 2, 1),
 (32, 'day,', 2, 1),
 (33, 'came', 2, 1),
 (34, 'to', 5, 1),
 (35, 'river', 1, 1),
 (36, 'rested', 1, 1),
 (37, 'under', 1, 1),
 (38, 'tree.', 3, 1),
 (39, 'kindhearted', 1, 1),
 (40, 'offered', 1, 1),
 (41, 'him', 4, 1),
 (42, 'some', 2, 1),
 (43, 'fruits.', 1, 1),
 (44, 'back', 3, 1),
 (45, 'next', 1, 1),
 (46, 'day', 1, 1),
 (47, 'for', 4, 1),
 (48, 'more', 1, 1),
 (49, 'fruits,', 1, 1),
 (50, 'as', 2, 1),
 (51, 'he', 3, 1),
 (52, 'loved', 1, 1),
 (53, 'them.', 1, 1),
 (54, 'As', 1, 1),
 (55, 'days', 1, 1),
 (56, 'passed', 1, 1),
 (57, 'by,', 1, 1),
 (58, 'became', 1, 1),
 (59, 'good', 1, 1),
 (60, 'friends.', 1, 1),
 (61, 'sent', 1, 1),
 (62, 'fruits', 3, 1),
 (63, 'crocodile’s', 1, 1),
 (64, 'She', 2, 1),
 (65, 'ate', 1, 1),
 (66, 'liked', 1, 1),
 (67, 'them,', 1, 1),
 (68, 'but', 3, 1),
 (69, 'jealous,', 1, 1),
 (70, 'she', 1, 1),
 (71, 'didn’t', 1, 1),
 (72, 'like', 2, 1),
 (73, 'her', 2, 1),
 (74, 'husband', 1, 1),
 (75, 'spending', 1, 1),
 (76, 'time', 1, 1),
 (77, 'with', 1, 1),
 (78, 'monkey.', 1, 1),
 (79, 'told', 2, 1),
 (80, 'husband,', 1, 1),
 (81, '“If', 1, 1),
 (82, 'are', 1, 1),
 (83, 'so', 2, 1),
 (84, 'juicy,', 1, 1),
 (85, 'I', 2, 1),
 (86, 'wonder', 1, 1),
 (87, 'how', 1, 1),
 (88, 'sweet', 1, 1),
 (89, 'monkey’s', 1, 1),
 (90, 'heart', 3, 1),
 (91, 'would', 2, 1),
 (92, 'be.', 1, 1),
 (93, 'Get', 1, 1),
 (94, 'me', 2, 1),
 (95, 'monkey.”', 1, 1),
 (96, 'not', 1, 1),
 (97, 'willing', 1, 1),
 (98, 'kill', 1, 1),
 (99, 'friend,', 1, 1),
 (100, 'had', 2, 1),
 (101, 'no', 1, 1),
 (102, 'choice.', 1, 1),
 (103, 'He', 1, 1),
 (104, 'invited', 1, 1),
 (105, 'house', 1, 1),
 (106, 'dinner', 1, 1),
 (107, 'that', 2, 1),
 (108, 'wife', 1, 1),
 (109, 'meet', 1, 1),
 (110, 'him.', 1, 1),
 (111, 'happy,', 1, 1),
 (112, 'couldn’t', 1, 1),
 (113, 'swim,', 1, 1),
 (114, 'took', 2, 1),
 (115, 'back.', 1, 1),
 (116, 'happy', 1, 1),
 (117, 'tricked', 1, 1),
 (118, 'monkey,', 1, 1),
 (119, 'however,', 1, 1),
 (120, 'while', 1, 1),
 (121, 'talking,', 1, 1),
 (122, 'blurted', 1, 1),
 (123, 'out', 1, 1),
 (124, 'real', 1, 1),
 (125, 'reason', 1, 1),
 (126, 'taking', 1, 1),
 (127, 'home.', 1, 1),
 (128, 'clever', 2, 1),
 (129, 'said,', 1, 1),
 (130, '“You', 1, 1),
 (131, 'should', 1, 1),
 (132, 'have', 1, 1),
 (133, 'earlier,', 1, 1),
 (134, 'left', 1, 1),
 (135, 'my', 1, 1),
 (136, 'We', 1, 1),
 (137, 'must', 1, 1),
 (138, 'go', 1, 1),
 (139, 'get', 1, 1),
 (140, 'it.”', 1, 1),
 (141, 'believed', 1, 1),
 (142, 'Thus,', 1, 1),
 (143, 'saved', 1, 1),
 (144, 'life.', 1, 1),
 (145, 'The', 5, 2),
 (146, 'Musical', 1, 2),
 (147, 'Donkey', 1, 2),
 (148, 'A', 1, 2),
 (149, 'washer', 1, 2),
 (150, 'man’s', 1, 2),
 (151, 'donkey', 7, 2),
 (152, 'would', 4, 2),
 (153, 'be', 1, 2),
 (154, 'free', 1, 2),
 (155, 'to', 7, 2),
 (156, 'graze', 1, 2),
 (157, 'on', 7, 2),
 (158, 'the', 18, 2),
 (159, 'green', 1, 2),
 (160, 'field,', 2, 2),
 (161, 'after', 1, 2),
 (162, 'a', 6, 2),
 (163, 'hard', 1, 2),
 (164, 'day’s', 1, 2),
 (165, 'work.', 1, 2),
 (166, 'Instead', 1, 2),
 (167, 'of', 2, 2),
 (168, 'staying', 1, 2),
 (169, 'he', 3, 2),
 (170, 'sneak', 1, 2),
 (171, 'into', 1, 2),
 (172, 'villagers’', 1, 2),
 (173, 'farms', 1, 2),
 (174, 'and', 13, 2),
 (175, 'eat', 2, 2),
 (176, 'vegetables', 1, 2),
 (177, 'growing,', 1, 2),
 (178, 'before', 1, 2),
 (179, 'sneaking', 1, 2),
 (180, 'back', 1, 2),
 (181, 'home.', 1, 2),
 (182, 'met', 1, 2),
 (183, 'jackal,', 1, 2),
 (184, 'they', 2, 2),
 (185, 'became', 1, 2),
 (186, 'good', 1, 2),
 (187, 'friends.', 1, 2),
 (188, 'They', 1, 2),
 (189, 'decided', 1, 2),
 (190, 'hunt', 1, 2),
 (191, 'together,', 1, 2),
 (192, 'fat', 1, 2),
 (193, 'break', 1, 2),
 (194, 'fence', 1, 2),
 (195, 'vegetables,', 1, 2),
 (196, 'while', 1, 2),
 (197, 'jackal', 5, 2),
 (198, 'hunted', 1, 2),
 (199, 'farm', 1, 2),
 (200, 'animals.', 1, 2),
 (201, 'One', 1, 2),
 (202, 'night,', 1, 2),
 (203, 'told', 1, 2),
 (204, 'that', 2, 2),
 (205, 'felt', 1, 2),
 (206, 'like', 1, 2),
 (207, 'singing.', 3, 2),
 (208, 'pleaded', 1, 2),
 (209, 'with', 1, 2),
 (210, 'him', 3, 2),
 (211, 'not', 1, 2),
 (212, 'sing,', 1, 2),
 (213, 'as', 3, 2),
 (214, 'get', 2, 2),
 (215, 'caught.', 1, 2),
 (216, 'However,', 1, 2),
 (217, 'got', 1, 2),
 (218, 'annoyed', 1, 2),
 (219, 'insisted', 1, 2),
 (220, 'He', 1, 2),
 (221, 'opened', 1, 2),
 (222, 'his', 2, 2),
 (223, 'mouth', 1, 2),
 (224, 'began', 1, 2),
 (225, 'bray', 1, 2),
 (226, 'loudly,', 1, 2),
 (227, 'immediately', 1, 2),
 (228, 'ran', 1, 2),
 (229, 'away.', 1, 2),
 (230, 'farmers,', 1, 2),
 (231, 'hearing', 1, 2),
 (232, 'bray,', 1, 2),
 (233, 'came', 1, 2),
 (234, 'rushing', 1, 2),
 (235, 'out', 2, 2),
 (236, 'thrashed', 1, 2),
 (237, 'for', 3, 2),
 (238, 'eating', 1, 2),
 (239, 'their', 3, 2),
 (240, 'vegetables.', 1, 2),
 (241, 'farmers', 2, 2),
 (242, 'tied', 1, 2),
 (243, 'mortar', 1, 2),
 (244, 'donkey,', 1, 2),
 (245, 'walked', 1, 2),
 (246, 'home,', 1, 2),
 (247, 'joked', 1, 2),
 (248, 'about', 1, 2),
 (249, 'gifting', 1, 2),
 (250, 'necklace', 1, 2),
 (251, 'Moral', 1, 2),
 (252, 'Story:', 1, 2),
 (253, 'There', 1, 2),
 (254, 'is', 1, 2),
 (255, 'time', 1, 2),
 (256, 'place', 1, 2),
 (257, 'everything.', 1, 2),
 (258, 'You', 1, 2),
 (259, 'can', 4, 2),
 (260, 'narrate', 1, 2),
 (261, 'these', 3, 2),
 (262, 'Panchatantra', 2, 2),
 (263, 'stories', 3, 2),
 (264, 'explain', 1, 2),
 (265, 'moral', 1, 2),
 (266, 'values', 1, 2),
 (267, 'children.', 1, 2),
 (268, 'For', 1, 2),
 (269, 'example,', 1, 2),
 (270, 'discipline,', 1, 2),
 (271, 'friendship,', 1, 2),
 (272, 'strength,', 1, 2),
 (273, 'intelligence', 1, 2),
 (274, 'other', 2, 2),
 (275, 'virtues,', 1, 2),
 (276, 'make', 1, 2),
 (277, 'children', 1, 2),
 (278, 'understand', 1, 2),
 (279, 'what', 1, 2),
 (280, 'morals', 1, 2),
 (281, 'stand', 1, 2),
 (282, 'for,', 1, 2),
 (283, 'impact', 1, 2),
 (284, 'daily', 1, 2),
 (285, 'lives.', 1, 2),
 (286, 'These', 1, 2),
 (287, 'also', 1, 2),
 (288, 'help', 1, 2),
 (289, 'in', 1, 2),
 (290, 'your', 3, 2),
 (291, 'child’s', 2, 2),
 (292, 'linguistic', 1, 2),
 (293, 'cognitive', 1, 2),
 (294, 'development.', 1, 2),
 (295, 'To', 1, 2),
 (296, 'further', 1, 2),
 (297, 'develop', 1, 2),
 (298, 'qualities,', 1, 2),
 (299, 'kid’s', 1, 2),
 (300, 'activity', 1, 2),
 (301, 'subscription', 1, 2),
 (302, 'kit', 1, 2),
 (303, 'contains', 1, 2),
 (304, 'fun', 1, 2),
 (305, 'interesting', 1, 2),
 (306, 'activities.', 1, 2),
 (307, 'By', 1, 2),
 (308, 'trying', 1, 2),
 (309, 'activities,', 1, 2),
 (310, 'child', 1, 2),
 (311, 'enhance', 1, 2),
 (312, 'his/her', 1, 2),
 (313, 'skills', 1, 2),
 (314, 'well.', 1, 2),
 (315, 'A', 1, 3),
 (316, 'Tale', 1, 3),
 (317, 'of', 4, 3),
 (318, 'Three', 1, 3),
 (319, 'Fish', 1, 3),
 (320, 'In', 1, 3),
 (321, 'a', 3, 3),
 (322, 'lake,', 1, 3),
 (323, 'there', 1, 3),
 (324, 'were', 2, 3),
 (325, 'three', 1, 3),
 (326, 'fish', 7, 3),
 (327, 'who', 1, 3),
 (328, 'great', 1, 3),
 (329, 'friends.', 1, 3),
 (330, 'The', 8, 3),
 (331, 'first', 3, 3),
 (332, 'was', 2, 3),
 (333, 'very', 1, 3),
 (334, 'smart,', 1, 3),
 (335, 'the', 8, 3),
 (336, 'second', 3, 3),
 (337, 'one', 2, 3),
 (338, 'knew', 1, 3),
 (339, 'how', 1, 3),
 (340, 'to', 6, 3),
 (341, 'find', 2, 3),
 (342, 'his', 2, 3),
 (343, 'way', 2, 3),
 (344, 'out', 3, 3),
 (345, 'trouble,', 1, 3),
 (346, 'and', 9, 3),
 (347, 'third', 3, 3),
 (348, 'adamant', 1, 3),
 (349, 'hated', 1, 3),
 (350, 'changes.', 1, 3),
 (351, 'overheard', 1, 3),
 (352, 'fisherman’s', 1, 3),
 (353, 'conversation', 1, 3),
 (354, 'about', 1, 3),
 (355, 'coming', 1, 3),
 (356, 'back', 1, 3),
 (357, 'next', 2, 3),
 (358, 'day', 1, 3),
 (359, 'fishing', 1, 3),
 (360, 'in', 1, 3),
 (361, 'lake.', 2, 3),
 (362, 'Sensing', 1, 3),
 (363, 'danger,', 1, 3),
 (364, 'he', 1, 3),
 (365, 'cautioned', 1, 3),
 (366, 'friends', 1, 3),
 (367, 'move', 2, 3),
 (368, 'said,', 2, 3),
 (369, '“I', 2, 3),
 (370, 'will', 2, 3),
 (371, 'stay', 1, 3),
 (372, 'here', 1, 3),
 (373, 'if', 2, 3),
 (374, 'I’m', 1, 3),
 (375, 'caught.”', 1, 3),
 (376, 'do', 1, 3),
 (377, 'not', 1, 3),
 (378, 'want', 1, 3),
 (379, 'out.', 2, 3),
 (380, 'I', 3, 3),
 (381, 'remain', 1, 3),
 (382, 'here,', 1, 3),
 (383, 'have', 1, 3),
 (384, 'get', 1, 3),
 (385, 'caught,', 1, 3),
 (386, 'will.”', 1, 3),
 (387, 'moved', 1, 3),
 (388, 'day,', 1, 3),
 (389, 'fisherman', 1, 3),
 (390, 'arrived', 1, 3),
 (391, 'caught', 2, 3),
 (392, 'other', 1, 3),
 (393, 'two', 1, 3),
 (394, 'fish.', 1, 3),
 (395, 'cleverly', 1, 3),
 (396, 'escaped', 1, 3),
 (397, 'by', 1, 3),
 (398, 'pretending', 1, 3),
 (399, 'be', 2, 3),
 (400, 'dead.', 1, 3),
 (401, 'did', 1, 3),
 (402, 'nothing', 1, 3),
 (403, 'got', 1, 3),
 (404, 'died.', 1, 3),
 (405, 'Moral', 1, 3),
 (406, 'Story:', 1, 3),
 (407, 'One', 1, 3),
 (408, 'should', 1, 3),
 (409, 'always', 1, 3),
 (410, 'open', 1, 3),
 (411, 'change', 1, 3),
 (412, 'adapt', 1, 3),
 (413, 'accordingly.', 1, 3),
 (414, 'Take', 1, 3),
 (415, 'immediate', 1, 3),
 (416, 'action', 1, 3),
 (417, 'when', 1, 3),
 (418, 'you', 1, 3),
 (419, 'sense', 1, 3),
 (420, 'danger.', 1, 3),
 (421, 'The', 8, 4),
 (422, 'Foolish', 1, 4),
 (423, 'Lion', 1, 4),
 (424, 'and', 8, 4),
 (425, 'the', 19, 4),
 (426, 'Clever', 1, 4),
 (427, 'Rabbit', 1, 4),
 (428, 'Once', 1, 4),
 (429, 'upon', 1, 4),
 (430, 'a', 3, 4),
 (431, 'time,', 1, 4),
 (432, 'there', 1, 4),
 (433, 'lived', 1, 4),
 (434, 'greedy', 1, 4),
 (435, 'lion', 8, 4),
 (436, 'who', 1, 4),
 (437, 'attacked', 2, 4),
 (438, 'killed', 1, 4),
 (439, 'animals,', 1, 4),
 (440, 'because', 1, 4),
 (441, 'of', 4, 4),
 (442, 'which', 1, 4),
 (443, 'every', 1, 4),
 (444, 'animal', 2, 4),
 (445, 'in', 2, 4),
 (446, 'jungle', 1, 4),
 (447, 'was', 4, 4),
 (448, 'very', 1, 4),
 (449, 'afraid', 1, 4),
 (450, 'him.', 1, 4),
 (451, 'One', 2, 4),
 (452, 'day,', 2, 4),
 (453, 'they', 2, 4),
 (454, 'decided', 2, 4),
 (455, 'that', 2, 4),
 (456, 'each', 1, 4),
 (457, 'would', 1, 4),
 (458, 'go', 1, 4),
 (459, 'to', 9, 4),
 (460, 'lion,', 2, 4),
 (461, 'per', 1, 4),
 (462, 'as', 1, 4),
 (463, 'his', 4, 4),
 (464, 'prey.', 1, 4),
 (465, 'agreed.', 1, 4),
 (466, 'When', 1, 4),
 (467, 'it', 1, 4),
 (468, 'rabbit’s', 1, 4),
 (469, 'turn,', 1, 4),
 (470, 'send', 1, 4),
 (471, 'wise', 3, 4),
 (472, 'old', 2, 4),
 (473, 'one.', 2, 4),
 (474, 'He', 2, 4),
 (475, 'travelled', 1, 4),
 (476, 'slowly', 1, 4),
 (477, 'reached', 1, 4),
 (478, 'lion’s', 1, 4),
 (479, 'den', 1, 4),
 (480, 'before', 1, 4),
 (481, 'sunset.', 1, 4),
 (482, 'furiously', 1, 4),
 (483, 'asked', 2, 4),
 (484, 'him,', 1, 4),
 (485, '“Why', 1, 4),
 (486, 'are', 1, 4),
 (487, 'you', 1, 4),
 (488, 'so', 1, 4),
 (489, 'late?”', 1, 4),
 (490, 'rabbit', 5, 4),
 (491, 'answered,', 1, 4),
 (492, '”A', 1, 4),
 (493, 'group', 1, 4),
 (494, 'rabbits', 1, 4),
 (495, 'were', 2, 4),
 (496, 'coming', 1, 4),
 (497, 'you,', 1, 4),
 (498, 'but', 1, 4),
 (499, 'on', 2, 4),
 (500, 'their', 1, 4),
 (501, 'way,', 1, 4),
 (502, 'others', 1, 4),
 (503, 'by', 1, 4),
 (504, 'another', 1, 4),
 (505, 'ferocious', 1, 4),
 (506, 'lion.', 2, 4),
 (507, 'I', 1, 4),
 (508, 'managed', 1, 4),
 (509, 'escape', 1, 4),
 (510, 'came', 1, 4),
 (511, 'here.”', 1, 4),
 (512, 'also', 1, 4),
 (513, 'mentioned', 1, 4),
 (514, 'other', 2, 4),
 (515, 'challenging', 1, 4),
 (516, 'this', 2, 4),
 (517, 'extremely', 1, 4),
 (518, 'angry', 1, 4),
 (519, 'take', 1, 4),
 (520, 'him', 2, 4),
 (521, 'meet', 1, 4),
 (522, 'new', 1, 4),
 (523, 'took', 1, 4),
 (524, 'deep', 1, 4),
 (525, 'well,', 1, 4),
 (526, 'showed', 1, 4),
 (527, 'own', 1, 4),
 (528, 'reflection.', 1, 4),
 (529, 'As', 1, 4),
 (530, 'growled,', 1, 4),
 (531, 'reflection', 2, 4),
 (532, 'did', 1, 4),
 (533, 'same.', 1, 4),
 (534, 'considered', 1, 4),
 (535, 'be', 1, 4),
 (536, 'enemy.', 1, 4),
 (537, 'enraged', 1, 4),
 (538, 'jumped', 1, 4),
 (539, 'into', 1, 4),
 (540, 'well', 1, 4),
 (541, 'attack', 1, 4),
 (542, 'ended', 1, 4),
 (543, 'up', 1, 4),
 (544, 'dying.', 1, 4),
 (545, 'Thus,', 1, 4),
 (546, 'saved', 1, 4),
 (547, 'himself,', 1, 4),
 (548, 'all', 1, 4),
 (549, 'animals', 1, 4),
 (550, 'forest.', 1, 4),
 (551, 'Moral', 1, 4),
 (552, 'Story:', 1, 4),
 (553, 'must', 1, 4),
 (554, 'always', 1, 4),
 (555, 'focus', 1, 4),
 (556, 'solutions,', 1, 4),
 (557, 'rather', 1, 4),
 (558, 'than', 1, 4),
 (559, 'problems.', 1, 4)]

Finally! Our tables are filled and we can now run SELECT queries against it to pull the data we want. There are two queries you will need to run. 
### SELECT Query One: 
Grab all rows from `word_counts` where the word is "the" and the count is greater than 1.

In [30]:
query_one = "SELECT * FROM word_counts WHERE word = 'the' AND count > 1" #Input SELECT query one here
cur.execute(query_one)
records = cur.fetchall()
for record in records:
    print(record)

(4, 'the', 26, 1)
(158, 'the', 18, 2)
(335, 'the', 8, 3)
(425, 'the', 19, 4)

### SELECT Query Two: 
Grab the `story_id`, `story`, and `count` columns where the word is "the". You should use a JOIN statement for this query, and only need to include `story_id` from one table.

In [32]:
# using ALIAS s for stories and wc for word_counts

query_two = "SELECT s.story_id, s.story, wc.count \
    FROM stories s JOIN word_counts wc ON s.story_id = wc.story_id \
    WHERE wc.word = 'the'"   #Input SELECT query two here

cur.execute(query_two)
records = cur.fetchall()
for record in records:
    print(record)

(1, 'The Monkey and the Crocodile:\n\nOnce upon a time, in a forest, there lived a monkey who resided on a jamoon (berry) tree, which was on the banks of a river. In the same forest, there lived a crocodile and his wife. One day, the crocodile came to the banks of the river and rested under the tree. The kindhearted monkey offered him some fruits. The crocodile came back the next day for more fruits, as he loved them. As days passed by, the crocodile and the monkey became good friends.\n\nOne day, the monkey sent some fruits for the crocodile’s wife. She ate the fruits and liked them, but was jealous, as she didn’t like her husband spending time with the monkey. She told her husband, “If the fruits are so juicy, I wonder how sweet the monkey’s heart would be. Get me the heart of the monkey.” The crocodile was not willing to kill his friend, but had no choice.\n\nHe invited the monkey to his house for dinner and that his wife would like to meet him. The monkey was happy, but couldn’t swim, so the crocodile took him on his back. The crocodile was happy that he had tricked the monkey, however, while talking, he blurted out the real reason for taking the monkey home. The clever monkey said, “You should have told me earlier, I left my heart on the tree. We must go back and get it.” The crocodile believed him and took him back to the tree. Thus, the clever monkey saved his life.\n', 26)
(2, 'The Musical Donkey\n\nA washer man’s donkey would be free to graze on the green field, after a hard day’s work. Instead of staying on the field, he would sneak into the villagers’ farms and eat the vegetables growing, before sneaking back home. The donkey met a jackal, and they became good friends. They decided to hunt together, and the fat donkey would break the fence to eat vegetables, while the jackal hunted the farm animals. One night, the donkey told the jackal that he felt like singing. The jackal pleaded with him not to sing, as they would get caught. However, the donkey got annoyed and insisted on singing. He opened his mouth and began to bray loudly, and the jackal immediately ran away. The farmers, on hearing the donkey bray, came rushing out and thrashed him for eating their vegetables. The farmers tied a mortar on the donkey, and as he walked home, the jackal joked about the farmers gifting the donkey a necklace for his singing.\n\nMoral of the Story: There is a time and place for everything.\n\nYou can narrate these Panchatantra stories to explain moral values to children. For example, Panchatantra stories on discipline, friendship, strength, intelligence and other virtues, can make children understand what these morals stand for, and their impact on their daily lives. These stories can also help in your child’s linguistic and cognitive development. To further develop your child’s qualities, get him a kid’s activity subscription kit that contains fun and interesting activities. By trying out these activities, your child can enhance his/her other skills as well.\n', 18)
(3, 'A Tale of Three Fish\n\nIn a lake, there were three fish who were great friends. The first fish was very smart, the second one knew how to find his way out of trouble, and the third was adamant and hated changes. The first fish overheard a fisherman’s conversation about coming back the next day and fishing in the lake. Sensing danger, he cautioned his friends to move out of the lake. The second fish said, “I will stay here and find a way out if I’m caught.” The third fish said, “I do not want to move out. I will remain here, and if I have to get caught, I will.” The first fish moved out. The next day, the fisherman arrived and caught the other two fish. The second one cleverly escaped by pretending to be dead. The third fish did nothing and got caught and died.\n\nMoral of the Story: One should always be open to change and adapt accordingly. Take immediate action when you sense danger.\n', 8)
(4, 'The Foolish Lion and the Clever Rabbit\n\nOnce upon a time, there lived a greedy lion who attacked and killed animals, because of which every animal in the jungle was very afraid of him. One day, they decided that each animal would go to the lion, per day, as his prey. The lion agreed. When it was the rabbit’s turn, they decided to send the wise old one. He travelled slowly and reached the lion’s den before sunset. The lion furiously asked him, “Why are you so late?” The rabbit answered, ”A group of rabbits were coming to you, but on their way, the others were attacked by another ferocious lion. I managed to escape and came here.” The rabbit also mentioned that the other lion was challenging this one.\n\nThe lion was extremely angry and asked the rabbit to take him to meet the new lion. The wise rabbit took the lion to a deep well, and showed him his own reflection. As the lion growled, his reflection did the same. He considered this reflection to be his enemy. The enraged lion jumped into the well to attack the other lion, and ended up dying. Thus, the wise old rabbit saved himself, and all the animals in the forest.\n\nMoral of the Story: One must always focus on solutions, rather than problems.\n', 19)

### Part 2 - Soccer Database
Now that we have our first database filled with data, we can move on to the second one. We will be using the `fifa_soccer_dataset.sqlite` file.
Feel free to use either sqlite3 or pandas to run your queries!
If you plan to use pandas, check the `pandas` documentation for how to read in a sqlite database. In particular you can load a sqlite database into a pandas dataframe using the `read_sql_query` function.

In [ ]:
dataset_path = "../../Datasets/fifa_soccer_dataset.sqlite" # Fix your path accordingly

import sqlite3
conn = sqlite3.connect(dataset_path)

If you are using pandas, import it and read in the database. For instance:

In [ ]:
import pandas as pd
# get all tables
df_tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
display(df_tables)
# get all players from Players table
df_players = pd.read_sql_query("SELECT * FROM Player", conn)
display(df_players)

If you prefer to use just sqlite3, you can do that as well. Just make sure to import the library and connect to the database:

In [ ]:
conn = sqlite3.connect(dataset_path)
cur = conn.cursor()
# get all tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
for table in tables:
    print(table)
# get all players from Players table
cur.execute("SELECT * FROM Player")
players = cur.fetchall()
for player in players:
    print(player)

**QUESTION 1**

Print the birthday of the player whose name is “Aaron Kuhl”. *Hint: Use ‘Player’ table*

In [ ]:
# YOUR CODE HERE

**QUESTION 2**

Print the number of times the team_fifa_api_id ‘673’ appeared in Team_attribute table. *Hint: Apply GROUP BY clause on team_fifa_api_id attribute*

In [ ]:
# YOUR CODE HERE

**QUESTION 3**

Print country name and league name that have matches on “2014-04-20 00:00:00”. *Hint: Apply join on Match Table and Country table, then Match Table and League Table*

In [ ]:
# YOUR CODE HERE